.kalan {
    text-align: center;
    background-color: aqua;
}
.kalan ul {
    list-style-type: none;
    padding: 0;
}
h1 {
    text-align: center;
}
p {
    font-size: 15px;
    color: antiquewhite;
    font-style: italic;
}